[submodule "lib/imgui-sfml"]
	path = lib/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
