* {
    background-color: rgb(53,53,53);
    color: white;
    selection-color: black;
    selection-background-color: orange;
    alternate-background-color: rgb(45,45,45);
}

QAbstractButton:checked {
    color: black;
    background-color: orange;
}

QDockWidget {
    border: 3px solid black;
}

QDockWidget::title {
    text-align: center;
    background-color: rgb(50,50,50);
}
